.venv/
__pycache__/
*.pyc
.env
.DS_Store
.ipynb_checkpoints/
data/raw/*.csv
data/raw/**/*.csv
data/raw/*.zip
data/warehouse/*.duckdb
data/warehouse/*.duckdb.*
target/
dbt_packages/
logs/
!.gitkeep

.user.yml
.prefect/
